.App{
  padding: 20px;
}
.cash{
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.around-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px
}
.around-btn button{
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px 15px;
  background-color: blue;
  color: #FFF
}
.clients{
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.clients div{
  margin-top: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
}
.clients-no{
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}